- 
  var dataSliders = {
    prizes: [
      {
        caption: '4 приставки<br>Sony Playstation 4',
        img: 'playstation.png',
        color: '#01A84E'
      },{
        caption: '4 смартфона<br>SAMSUNG A50',
        img: 'smartphones.png',
        color: '#FFCA2A'
      },{
        caption: '4 приставки<br>Sony Playstation 4',
        img: 'playstation.png',
        color: '#01A84E'
      },{
        caption: '4 смартфона<br>SAMSUNG A50',
        img: 'smartphones.png',
        color: '#FFCA2A'
      },{
        caption: '4 приставки<br>Sony Playstation 4',
        img: 'playstation.png',
        color: '#01A84E'
      },{
        caption: '4 смартфона<br>SAMSUNG A50',
        img: 'smartphones.png',
        color: '#FFCA2A'
      },{
        caption: '4 приставки<br>Sony Playstation 4',
        img: 'playstation.png',
        color: '#01A84E'
      },{
        caption: '4 смартфона<br>SAMSUNG A50',
        img: 'smartphones.png',
        color: '#FFCA2A'
      }
    ],
    production: [
      {
        caption: 'Печенье<br>«Король лев»',
        img: 'production-1.png'
      },{
        caption: 'Шоколадное яйцо fruitles<br>«Принцессы»',
        img: 'production-2.png'
      },{
        caption: 'Мыльные-пузыри<br>«Принцессы»',
        img: 'production-3.png'
      },{
        caption: 'Свит бокс<br>«Утиные истории»',
        img: 'production-4.png'
      },{
        caption: 'Печенье<br>«Король лев»',
        img: 'production-1.png'
      },{
        caption: 'Шоколадное яйцо fruitles<br>«Принцессы»',
        img: 'production-2.png'
      },{
        caption: 'Мыльные-пузыри<br>«Принцессы»',
        img: 'production-3.png'
      },{
        caption: 'Свит бокс<br>«Утиные истории»',
        img: 'production-4.png'
      },{
        caption: 'Печенье<br>«Король лев»',
        img: 'production-1.png'
      },{
        caption: 'Шоколадное яйцо fruitles<br>«Принцессы»',
        img: 'production-2.png'
      },{
        caption: 'Мыльные-пузыри<br>«Принцессы»',
        img: 'production-3.png'
      },{
        caption: 'Свит бокс<br>«Утиные истории»',
        img: 'production-4.png'
      },{
        caption: 'Печенье<br>«Король лев»',
        img: 'production-1.png'
      },{
        caption: 'Шоколадное яйцо fruitles<br>«Принцессы»',
        img: 'production-2.png'
      },{
        caption: 'Мыльные-пузыри<br>«Принцессы»',
        img: 'production-3.png'
      },{
        caption: 'Свит бокс<br>«Утиные истории»',
        img: 'production-4.png'
      }
    ]
  }
