.footer {
  position: relative;
  z-index: 3;
  height: 520px;
  margin-top: -110px;
  overflow: hidden;

  &::before {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background: url('../img/backgrounds/back-footer.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }

  &__text {
    .positionCenter-Y();
    margin-top: 40px;
    left: 8vw;
    width: 494px;
    color: @colorTextDark;
    font-size: 21px;

    p {
      margin: 0;
    }
  }

  &__main {
    position: relative;
    left: 8.5vw;
    display: flex;
    width: 756px;
    max-width: 100%;
    padding-top: 184px;
    margin: 0 5% 0 auto;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 30px;
    color: currentColor;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: @transitionSpeedDefault;

    &:hover {
      border-color: currentColor;
    }
  }
}
