mixin steps
  +b.UL.steps
    +e.LI.item
      +e.num
      +e.item-wrap
        p Купи продукцию на сумму <strong>от 300 руб.</strong>
    +e.LI.item
      +e.num
      +e.item-wrap
        p <strong>Зарегистрируй чек на сайте</strong>
    +e.LI.item
      +e.num
      +e.item-wrap
        p Выигрывай <strong>ценные призы</strong>
