mixin table
  +b.table
    +e.TABLE.main
      +e.THEAD.head
        +e.TR.row
          +e.TH.cell._head
            span ПОБЕДИТЕЛЬ    
          +e.TH.cell._head
            span ПРИЗ    
          +e.TH.cell._head
            span ДАТА
      +e.TBODY.body
        +e.TR.row
          +e.TD.cell
            span Стасенко Александр
          +e.TD.cell
            span набор посуды
          +e.TD.cell
            span 10-05-2019
        +e.TR.row
          +e.TD.cell
            span Стасенко Александр
          +e.TD.cell
            span набор посуды
          +e.TD.cell
            span 10-05-2019
        +e.TR.row
          +e.TD.cell
            span Стасенко Александр
          +e.TD.cell
            span набор посуды
          +e.TD.cell
            span 10-05-2019
        +e.TR.row
          +e.TD.cell
            span Стасенко Александр
          +e.TD.cell
            span набор посуды
          +e.TD.cell
            span 10-05-2019
        +e.TR.row
          +e.TD.cell
            span Стасенко Александр
          +e.TD.cell
            span набор посуды
          +e.TD.cell
            span 10-05-2019
        +e.TR.row
          +e.TD.cell
            span Стасенко Александр
          +e.TD.cell
            span набор посуды
          +e.TD.cell
            span 10-05-2019
