mixin table
  +b.table
    +e.TABLE.main
      +e.THEAD.head
        +e.TR.row
          +e.TH.cell._head
            span ПОБЕДИТЕЛЬ    
          +e.TH.cell._head
            span ПРИЗ    
          +e.TH.cell._head
            span ДАТА
      +e.TBODY.body
        +tableTR
        +tableTR
        +tableTR
        +tableTR
        +tableTR
        +tableTR
            
mixin tableTR
  +e.TR.row
    +e.TD.cell(data-label="ПОБЕДИТЕЛЬ")
      span Стасенко Александр
    +e.TD.cell(data-label="ПРИЗ")
      span набор посуды
    +e.TD.cell(data-label="ДАТА")
      span 10-05-2019
