include field/field.pug
include field/textarea.pug

mixin form
  +b.FORM.form
    +e.line
      +field({
        placeholder: 'ФИО'
      })
    +e.line
      +field({
        placeholder: 'E-mail'
      })
    +e.line
      +field({
        placeholder: '+7 (___) ___-__-__'
      })
    +e.line
      +field({
        placeholder: 'Введите свой город'
      })
    +e.line
      +b.LABEL.file
        input(type="file")
        +e.DIV.ico
          +svg({
            name: 'ico-attach'
          })
        span Загрузить фото чека
    +b.BUTTON.button._decor-right._size-full._light(data-modal-open="thanks")
      span ЗАРЕГЕСТРИРОВАТЬ ЧЕК
    
        
mixin formQuestion
  +b.FORM.form
    +e.line
      +field({
        placeholder: 'ФИО'
      })
    +e.line
      +field({
        placeholder: 'E-mail'
      })
    +e.line
      +b.LABEL.field._text
        +e.DIV.input
          textarea(placeholder="Введите свой вопрос")
          
    +button({
      type: 'button',
      size: 'full',
      name: 'задать вопрос'
    })
