mixin pages
  +b.pages
    +e.UL.list
      +e.LI.item
        a(href="#") 1
      +e.LI.item
        a(href="#") 2
      +e.LI.item
        a(href="#") 3
      +e.LI.item._selected
        a(href="#") 4
      +e.LI.item
        a(href="#") 5
      +e.LI.item
        a(href="#") 6
      +e.LI.item
        a(href="#") 7
