include ../global.pug
include navigator/navigator.pug

mixin header
  +b.HEADER.header
    +b.menu
      +e.BUTTON.close
      +e.UL.list
        each item in dataNavigator
          +e.LI.item
            +e.A.link(href="#")= item
    +e.container.container
      +e.top
        //- +b.BUTTON.city
        //-   +e.ico
        //-     +svg({
        //-       name: 'ico-place'
        //-     })
        //-   span Воронеж
      +e.main
        +e.nav
          +navigator
        +e.logo
          +b.A.logo(href="#")
            img(src="img/logos/disney.svg" alt="Disney" title="Disney")
          +b.A.logo(href="#")
            img(src="img/logos/confitreid.svg" alt="Конфитрейд" title="Конфитрейд")
