@import url('navigator/style.less');

.header {
  font-size: @fontSizeDefaultS;

  &__top {
    padding: 20px 15px 15px;
  }

  &__main {
    display: flex;
    align-items: center;
  }

  &__nav {
    width: 77%;
  }

  &__logo {
    display: flex;
    justify-content: flex-end;
    width: 23%;
  }
}

.menu {
  display: none;
  position: fixed;
  z-index: 999;
  color: @colorTextDark;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: @colorYellow;
  padding: 60px 40px 40px;

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    padding: 0;
    overflow: hidden;
    transition: all .16s;

    &:focus {
      color: @colorRed;
      outline: none;
    }

    &::before {
      .positionCenter();
      content: '×';
      font-size: 50px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: block;
    margin: 0 0 20px;
  }

  &__link {
    font-family: @fontCaption;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    color: currentColor;
  }
}

.city {
  display: inline-flex;
  align-items: center;
  font-family: @fontCaption;
  color: @colorTextLight;
  background: none;
  border: none;

  &__ico {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 8px;

    svg {
      max-width: 100%;
      max-height: 100%;
      fill: currentColor;
    }
  }
}

.logo {
  position: relative;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  padding: 0 20px;

  &:hover {
    img {
      transform: scale(1.05);
    }
  }

  &::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    background: @colorBackgroundLight;
    width: 3px;
    height: 43px;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::after {
      display: none;
    }
  }

  img {
    width: 106px;
    max-width: 100%;
    max-height: 100%;
    transition: all .32s;
  }
}
