- 
  const dataSocial = [
    {
      name: 'Facebook',
      symbol: 'social-facebook'
    },{
      name: 'Вконтакте',
      symbol: 'social-vkontakte'
    },{
      name: 'Instagram',
      symbol: 'social-instagram'
    },{
      name: 'Одноклассники',
      symbol: 'social-odnoklassniki'
    }
  ]
